<?xml version='1.0' encoding='utf-8'?>
 <!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 2.0//EN"
 "http://hibernate.sourceforge.net/hibernate-configuration-2.0.dtd">

<hibernate-configuration>

    <session-factory>
    
      <mapping resource="com/turquaz/engine/dal/TurqAccountingAccount.hbm.xml"/>
	  <mapping resource="com/turquaz/engine/dal/TurqAccountingJournal.hbm.xml"/>
	  <mapping resource="com/turquaz/engine/dal/TurqAccountingTransaction.hbm.xml"/>
	  <mapping resource="com/turquaz/engine/dal/TurqAccountingTransactionType.hbm.xml"/>
	  <mapping resource="com/turquaz/engine/dal/TurqBankCardsSecondaryAccount.hbm.xml"/>
	  <mapping resource="com/turquaz/engine/dal/TurqBanksCard.hbm.xml"/>
	  <mapping resource="com/turquaz/engine/dal/TurqBankSecondaryAccount.hbm.xml"/>
	  <mapping resource="com/turquaz/engine/dal/TurqBanksTransaction.hbm.xml"/>
	  <mapping resource="com/turquaz/engine/dal/TurqBanksTransactionBill.hbm.xml"/>
	  <mapping resource="com/turquaz/engine/dal/TurqBanksTransactionType.hbm.xml"/>
	  <mapping resource="com/turquaz/engine/dal/TurqBill.hbm.xml"/>
	  <mapping resource="com/turquaz/engine/dal/TurqBillGroup.hbm.xml"/>
	  <mapping resource="com/turquaz/engine/dal/TurqBillInGroup.hbm.xml"/>
	  <mapping resource="com/turquaz/engine/dal/TurqChequeCheque.hbm.xml"/>
	  <mapping resource="com/turquaz/engine/dal/TurqChequeChequesRoll.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqChequeRoll.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqChequeTransactionType.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqCompany.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqConsignment.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqConsignmentGroup.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqConsignmentsInGroup.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqCurrency.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqCurrentCard.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqCurrentCardsGroup.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqCurrentCardsPhone.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqCurrentContact.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqCurrentGroup.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqCurrentTransaction.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqCurrentTransactionBill.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqCurrentTransactionType.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqGroup.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqGroupPermission.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqInventoryCard.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqInventoryCardUnit.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqInventoryGroup.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqInventoryPrice.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqInventoryCardGroup.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqInventoryTransaction.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqInventoryUnit.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqInventoryWarehous.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqModule.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqModuleComponent.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqOrder.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqOrderGroup.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqOrderInGroup.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqTradebillRoll.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqTradebillTradebill.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqTradebillTradebillsRoll.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqTradebillTransactionType.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqUser.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqUserGroup.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqUserPermission.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqAccountingTransactionColumn.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqEngineSequence.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqBillConsignmentCommon.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqViewInventoryAmountTotal.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqViewCurrentAmountTotal.hbm.xml"/>	
<mapping resource="com/turquaz/engine/dal/TurqViewAccTransTotalAmount.hbm.xml"/>
<mapping resource="com/turquaz/engine/dal/TurqViewInventoryTotal.hbm.xml"/>											
 <mapping resource="com/turquaz/engine/dal/TurqCashCard.hbm.xml"/>
  <mapping resource="com/turquaz/engine/dal/TurqCashTransaction.hbm.xml"/>	
   <mapping resource="com/turquaz/engine/dal/TurqCashTransactionType.hbm.xml"/>       
     <mapping resource="com/turquaz/engine/dal/TurqCashTransactionRow.hbm.xml"/>  
   

    </session-factory>

</hibernate-configuration>
